<div class="container">
	<div class="form-group col-sm-12 col-md-12 col-lg-12 col-xs-12">
		<a href="#menu" class="btn btn-primary" >Go back to Menu</a>
	</div>
	<form name="adduser" class="form-horizontal" ng-click="formClicked()">
		<p ng-show="empMsg" class="text-danger" ng-bind="empMsg"></p>
		<div class="form-group">
			<label class="col-sm-2">First name: </label>
			<div class="col-sm-10">
				<input type="text" class="form-control" placeholder="First name" ng-model="employee.fname">
			</div>
		</div>
		<div class="form-group">
			<label for="custname" class="col-sm-2">Last name: </label>
			<div class="col-sm-10 ">
				<input type="text" class="form-control" placeholder="Last name" ng-model="employee.lname">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Contact no:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" placeholder="Contact number" ng-model="employee.contactnum">
			</div>
		</div>
		<div class="form-group">
			<label for="datetimepicker1" class="col-sm-2">DOB:</label>
			<div class="col-sm-10">
				<div class='input-group date ' id='datetimepicker1'>
					<input type='text' class="form-control" ng-model="employee.dob"/>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>

		</div>
		<div class="form-group">
			<label class="col-sm-2">Email ID:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" placeholder="Email ID" ng-model="employee.email">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Password:</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" placeholder="Password" ng-model="employee.passwd">
			</div>
		</div>
		<div class="form-group col-sm-12 col-md-12 col-lg-12 col-xs-12">
			<a href="" class="col-md-offset-5 btn btn-primary" ng-click="addEmployee(employee)">Add Employee</a>
			<a href="" class="btn btn-primary" ng-click="reset()">Reset</a>
		</div>
	</form>
</div>

<script type="text/javascript">
	$(function () {
		$('#datetimepicker1').datetimepicker({
			format: 'YYYY/MM/DD'
		});
	});
</script>